* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

header {
    background-color: #1F2937;
    height: auto;

}

nav {
    padding: 10px 0 10px 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.header-logo {
    display: flex;
    flex: 1 1 500px;
    margin-left: 15%;
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.header-link:last-child {
    margin-right: 15%;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    color: inherit;
    text-decoration: none;
}

.header-section {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: #1F2937;
}

.header-text {
    margin-left: 15%;
    margin-top: 50px;
}

.header-text h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.header-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-text button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    width: 25%;
    height: 15%;
    font-size: 18px;
    margin-top: 1%;

}

button:hover {
    cursor: pointer;
}

.header-img {
    margin-right: 15%;
    margin-top: 50px;
}

.header-img p {
    padding: 50px;
    background-color: #808285;
    margin-bottom: 100px;
}

.section-center {
    background-color: #F9FAF8;
    height: auto;
}

.section-center h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 36px;
    color: #1F2937;
}

.illustration {
    display: flex;
    justify-content: center;
    gap: 50px;

}

.illustration div {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.paragraph-illustration {
    display: flex;
    justify-content: center;
    gap: 50px;
    gap: 50px;
}

.paragraph-illustration p {
    width: 150px;
    height: 150px;
    text-align: center;
    color: #1F2937;
}

.section-footer-of-main {
    background-color: #E5E7EB;
    height: auto;
}

.text-of-footer-main {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 130px 300px 0 300px;
}

.signature {
    margin: 0 300px 0 300px;
    text-align: end;
    font-weight: 700;
    padding-bottom: 100px;
}

.sign-up {
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.sign-up {
    background-color: #3882F6;
    margin: 50px 300px;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
    text-align: center;
    padding: 15px 0;
}